.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/im.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-text-1 {margin: 60px auto 0}
.u-section-1 .u-text-2 {margin: 30px auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 287px} }.u-section-2 {min-height: 947px}
.u-section-2 .u-text-1 {font-weight: 700; margin: 20px calc(((100% - 1140px) / 2)) 0 0}
.u-section-2 .u-image-1 {height: 458px; margin: 30px auto 30px 0} 

@media (max-width: 1199px){ .u-section-2 {min-height: 500px}
.u-section-2 .u-text-1 {margin-right: calc(((100% - 1140px) / 2) + 100px); margin-bottom: 60px; margin-left: calc(((100% - 1140px) / 2) + 10px)}
.u-section-2 .u-image-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-2 .u-text-1 {margin-right: calc(((100% - 1140px) / 2) + 210px); margin-left: calc(((100% - 1140px) / 2) + 120px)} }

@media (max-width: 767px){ .u-section-2 .u-text-1 {margin-right: calc(((100% - 1140px) / 2) + 300px); margin-left: calc(((100% - 1140px) / 2) + 210px)} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {margin-right: calc(((100% - 1140px) / 2) + 400px); margin-left: calc(((100% - 1140px) / 2) + 310px)} }.u-section-3 .u-sheet-1 {min-height: 592px}
.u-section-3 .u-text-1 {margin: 20px -101px 60px}